@keyframes signboard {
  0%{
      transform: rotateX(0deg);
  }
  35%{
      transform-origin: top;
      transform: rotateX(45deg);
      transform: skewX(2deg);
  }
  60%{
      transform: rotateX(-45deg);
      transform: skewX(-2deg);
      transform-origin: top;
      animation-delay: 1s;
      box-shadow: -5px 10px 14px -5px rgba(34, 60, 80, 0.2);
  }
  90%{
      transform-origin: top;
      transform: rotateX(-15deg);
      transform: skewX(2deg);
  }
  100%{
      transform-origin: top;
      transform: rotateX(0);
      transform: skewX(0);
  }
}

@keyframes opacity-btn {
  0%{
      opacity: 0%;
  }
  100%{
      opacity: 100%;
  }

}

@keyframes card-shadow {
  0%{
      transform: scale(1);
      box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.5);
  }
  100%{
      transform: scale(1.05);
      box-shadow: 6px 6px 10px 0px rgba(34, 60, 80, 0.5);
  }
}

@keyframes dark {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 86%;
  }
}

@keyframes gamburger-top {
  0%{
      transform:translate(0px) rotate(0deg);
  }
  100%{
      transform:translate(0px, 10px) rotate(45deg);
      border: 1px solid #6F6E6E;
      background-color: #6F6E6E;
  }
}
@keyframes gamburger-top-rev {
  0%{
      transform:translate(0px, 10px) rotate(45deg);
  }
  100%{
      transform:translate(0px) rotate(0deg);
  }
}

@keyframes gamburger-mdl {
  0%{
      opacity: 100%;
  }
  100%{
      opacity: 0%;
  }
}
@keyframes gamburger-mdl-rev {
  0%{
      opacity: 0%;
  }
  100%{
      opacity: 100%;
  }
}

@keyframes gamburger-btm {
  0%{
      transform:translate(0px) rotate(0deg);
  }
  100%{
      transform:translate(0px, -10px) rotate(-45deg);
      border: 1px solid #6F6E6E;
      background-color: #6F6E6E;
  }
}
@keyframes gamburger-btm-rev {
  0%{
      transform:translate(0px, -10px) rotate(-45deg);
  }
  100%{
      transform:translate(0px) rotate(0deg);
  }
}

@keyframes menu-visible{
  0%{
      transform: translateX(0);
      opacity: 0;
      z-index: 3;
  }
  100%{
      transform: translateX(-232px);
      opacity: 100%;
      z-index: 3;
  }
}

@keyframes menu-invisible{
  0%{
      transform: translateX(-232px);
      opacity: 100%;
  }
  100%{
      transform: translateX(0);
      opacity: 0;
      z-index: 1;
  }
}
